.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
.pub-cache/
.pub/
/build/
/coverage/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.iml
*.jks
*.keystore
key.properties
local.properties
.env
/android/build/
**/build/
